	body{
    background-color: #E7F7D4;
	margin: 0;
	}
	
	/*h1{
	color: #7FBD32;
	font-family: french script mt;
	text-align: center;
	font-size: 350%;
	}

	h2{
	color: #a64dff;
      	font-family: batang;
	}

	h3{
	color: #a64dff;
    font-family: batang;
	}*/
	
	p{
	color: # E7F7D4;
	font-family: french script mt;
	}